<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Noteria</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <img src="../static/img/Logo.png" alt="logo" class="logo">
    </header>
    <main>
        <div class="welcome">
            <b>Welcome to Noteria!</b><br>
        </div>
        <div class="buttons">
            <button class="button_">Login</button>
            <button class="button_">Register</button>
        </div>
    </main>
</body>
</html>