{% extends 'tasks/ref_log.html' %}
{% block header %}
      <b>Nice to see you here, {{ request.user }}!</b>
    <a href="{% url 'logout' %}">Logout</a>
{% endblock header %}

{% block content %}
    <main>
    <a href="{% url 'create-notice' %}" class="button_a">Add Note</a>
    <div class="reglog">
        <table>
            <tr class="heading-text">
                <th><h1>Notes</h1></th>
                <th></th>
                <th></th>
            </tr>
            {% for item in notes %}
                <tr class="txt">
                    <td><a href="{% url 'notice' item.id %}" class="one">{{ item.title }}</a></td>
                    <td><a href="{% url 'notice-edit' item.id %}" class="button_a">Edit</a></td>
                    <td><a href="{% url 'notice-delete' item.id %}" class="button_a">Delete</a></td>
                </tr>

            {% empty %}
                <h3>There isn`t notes.</h3>
            {% endfor %}

        </table>
    </div>
    </main>
{% endblock content %}
