<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
</head>
<body>
<h1>Notes</h1>
    <main>
    <a href="{% url 'create-notice' %}">Add Note</a>
        <table>
            <tr>
                <th>Elem</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            {% for item in notes %}
                <tr>
                    <td>{{ item.title }}</td>
                    <td><a href="{% url 'notice' item.id %}">View</a></td>
                    <td><a href="{% url 'notice-edit' item.id %}">Edit</a></td>
                    <td><a href="{% url 'notice-delete' item.id %}">Delete</a></td>
                </tr>

            {% empty %}
                <h3>There isn`t notes.</h3>
            {% endfor %}

        </table>
    </main>
</body>
</html>