<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/stl.css">
    <title>Noteria</title>
</head>
<body>
    <header class="header">
        <a href="#" ><img src="../../static/img/Logo.png" alt="logo" class="logo"></a>
    <div class="right-header">
        {% block header %} {% endblock header %}
    </div>
    </header>

    <hr>
    <div class="main">
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <div class="container">
    {% block content %}
    {% endblock content %}
    </div>
    </div>
</body>
</html>