<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>Noteria</title>
</head>
<body>
    <header>
        <img src="../../static/img/Logo.png" alt="logo" class="logo">
        {% block header %} {% endblock header %}
    </header>
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% block content %}
    {% endblock content %}
</body>
</html>